img {
	/* max-block-size: -webkit-fill-available; */
	max-width: 100%;
}

html {
	scroll-behavior: smooth!important;
}

p {
    margin: 1rem auto;
    width: 100%;
}


a {
	font-weight: bold!important;
	font-family: "Trebuchet MS", Helvetica, sans-serif!important;
	text-transform: capitalize!important;
}

.text-secondary {
    color: #795548e0!important;
    display: block;
    font-size: large;
	text-align: inherit;
	font-style: italic;
	font-family: sans-serif;
	margin-top: 0.75rem;
}

.badge {
	padding: 0.666rem 0.396rem;
	margin: 0.5rem 0rem;
}

.badge-dark {
	display: table;
	margin: 3rem auto!important;
	background-color: #343a40;
}

.badge-git {
	display: inline-block!important;
	background-color: #343a40;
	color: #fff;
}



.text-muted {
    color: #6610f2!important;
}

.card {
	text-align: center;
    border:dashed;
    border-width:0.1rem;
}

.navbar {
	justify-content: space-around!important;
	display: block!important;
}

.lazyload {
	opacity: 0;
	transform: scale(0.8);
}

.lazyloaded {
	opacity: 1;
	transform: scale(1);
	transition: all 700ms;
}

.mb-5, .my-5 {
    margin-bottom: 0.5rem!important;
}

.mb-4, .my-4 {
    margin-bottom: 1rem!important;
}

.mt-3, .my-3 {
    margin: 0rem auto;
	display: inline-block;
}
.m-3 {
    margin: 2em!important;
}

.btn-group-sm>.btn, .btn-sm {
    padding: .5rem 1.25rem!important;
    font-size: 0.75rem!important;
    line-height: 1.5!important;
    border-radius: .25rem!important;
}
.btn-outline-warning {
		color: rgb(249, 104, 84);
		border-color: rgb(249, 104, 84)
}
.col-md-5 {
		padding-right: 0px;
}
.btn {
	font-weight: 700;
}
.row {
	  	text-align: right;
		display: inline-grid;
		block-size: 10em;
		width: 80%;
}
.col-md-5 {
    max-width: 100%;
}

*, ::after, ::before {
    box-sizing: border-box;
}
.mt-2, .my-2 {
    margin-top: 0!important;
}
.mt-4, .my-4 {
    margin-top: 0!important;
}

body {
	text-align: center;
	margin: 0 auto!important;
}

iframe, .qcontrol {
    margin: 0.5rem auto 0.46789rem auto!important;
	width: 91.69% !important;
	max-width: 91.69% !important;
	min-height: 200px;
	border:solid!important;
	scroll-behavior: smooth!important;
}

.iframe {
	scroll-behavior: smooth!important;
}

@media only screen and (min-device-width: 1337px) {
    iframe {
		min-height: 420px;
	}
	#content {
		margin: 0 auto;
		max-width: 54%;
		margin: 0 auto;
	}
	#cardbtn {
		padding: 1rem;
	}
	#card-columns {
		display: inline-block;
	}
}

@media only screen and (max-device-width: 575px) {
    #cardbtn {
		padding: 0rem 3rem;
		display: inline-block;
	}
}



.badge-warning{color:#fff;background-color:#6610f2}.badge-warning[href]:focus,.badge-warning[href]:hover{color:#fff;text-decoration:none;background-color:#27065d}

.badge-success{color:#fff;background-color:#e83e8c}.badge-success[href]:focus,.badge-success[href]:hover{color:#fff;text-decoration:none;background-color:#ab2663}

.badge-danger{color:#fff;background-color:#fd7e14}.badge-danger[href]:focus,.badge-danger[href]:hover{color:#fff;text-decoration:none;background-color:#ab2663}

.btn-outline-warning{color:rgb(249, 104, 84);background-color:transparent;background-image:none;border-color:rgb(249, 104, 84)}.btn-outline-warning:hover{color:#fff;background-color:rgb(249, 104, 84);border-color:rgb(249, 104, 84)}.btn-outline-warning.focus,.btn-outline-warning:focus{box-shadow:0 0 0 .2rem rgb(249, 104, 84)}.btn-outline-warning.disabled,.btn-outline-warning:disabled{color:rgb(249, 104, 84);background-color:transparent}.btn-outline-warning:not(:disabled):not(.disabled).active,.btn-outline-warning:not(:disabled):not(.disabled):active,.show>.btn-outline-warning.dropdown-toggle{color:#fff;background-color:rgb(249, 104, 84);border-color:rgb(249, 104, 84)}.btn-outline-warning:not(:disabled):not(.disabled).active:focus,.btn-outline-warning:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-warning.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgb(249, 104, 84)}

.rounded-circle {
    max-width: 50%;
    padding-bottom: 1.5rem;
}

.bg-dark {
    position: fixed;
    bottom: 0;
}

footer {
  display: none;
}

:root {
  text-transform: lowercase;
}

b { font-weight: bold; }

	.key { position: absolute; font-weight: 100; font-size: 12px;
		border: 1px solid rgba(32,32,32,0.2);
		border-radius: 0px 0px 5px 5px;
		cursor:pointer;
		box-shadow: 0px 5px 1px rgba(32,32,32,0.2);
		-webkit-transition: margin 0.05s ease, background-color 0.05s ease, box-shadow 0.05s ease; }
	.key:hover { background-color: rgb(255,192,32); }

	.key .label { position: absolute; bottom: 5px; text-align: center; left: 0px; right: 0px; }

	.black { background-color: rgb(32,32,32); color: #ffffff; z-index: 1; text-shadow: 0px -1px 1px rgba(255,255,255,0.5); }

	.white { background-color: #ffffff; color: rgb(32,32,32); z-index: 0; text-shadow: 0px 1px 1px rgba(32,32,32,0.5); }

	.title { text-shadow: 0px 1px 1px rgba(32,32,32,0.2); font-size: 40px; font-weight: bold; padding: 10px; text-align: center; }

	.sub { color: rgb(96,96,96); font-size: 30px; padding: 10px; font-weight:100; margin:10px 0px; text-shadow: 0px 1px 1px rgba(32,32,32,0.2); text-align:center; }
	.sub a, .sub a:link, .sub a:visited, .sub a:active { font-weight:bold; color: rgb(128,160,255); text-decoration: none; }
	.sub a:hover { color: rgb(160,192,255); }

	.source a { color: rgb(255,96,96); }
	.source a:link, .source a:visited, .source a:active { color: rgb(255,96,96); }
	.source a:hover { color: rgb(255,128,128); }

	.small { font-size: 20px; }

	.keyboard-options { margin: 1rem auto; width: auto; text-align: center; font-size: 12px; font-weight: 200; padding:10px; }

	.keyboard-holder { margin: 1rem auto; height: 200px; position:relative; user-select:none; -webkit-user-select:none;-moz-user-select:none;-o-user-select:none; }

	.about { position: relative; max-width: 700px; margin: 1rem auto; }
	.about .header { background-color:rgba(32,64,128,0.5); border-radius: 10px 10px 0px 0px; color:rgb(255,255,255); text-shadow:0px 1px 0px rgb(96,96,96);
		position: relative; max-width: 600px; margin: 0 auto;
		font-size: 30px; font-weight: bold; padding: 20px; text-align:center; }
	.about .contents { font-size: 16px; line-height: 20px; background-color: rgb(255,255,255); font-weight: 200; padding: 20px; text-align: left; position: relative;
		color: rgb(32,32,32); text-shadow: 0px 1px 0px rgb(224,224,224);
		box-shadow: 0px 5px 10px rgba(32,32,32,0.5); -webkit-box-shadow: 0px 5px 10px rgba(32,32,32,0.5); border: 1px solid rgb(192,192,192); }
	.about .footer { background-color:rgba(32,64,128,0.5); border-radius: 0px 0px 10px 10px; color:rgb(255,255,255);
		position: relative; max-width: 600px; margin: 0 auto; font-weight: bold; padding: 20px; }

	.about a, .about a:link, .about a:visited, .about a:active { font-weight:bold; color: rgb(224,96,32); text-decoration: none; }
	.about a:hover { color: rgb(224,128,64); }

	.code { border: 1px solid rgba(32,32,32,0.2); color: rgb(32,32,32); font-family: Courier New, Courier, monospace; font-size: 12px; white-space:pre; padding: 10px; margin: 10px; }

	.image { border: 1px solid rgba(32,32,32,0.2); color: rgb(32,32,32); font-family: Courier New, Courier, monospace; font-size: 12px; white-space:pre; padding: 10px; margin: 10px; text-align: center; }
