<head><!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PFG75L7');</script>
<!-- End Google Tag Manager -->
		<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-VPZCCDSPCM"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-VPZCCDSPCM');
	</script>
	{{ partial "scripts.html" . }}
	<meta charset="utf-8">
	<meta name="description" content='{{ .Site.Params.metadesc }}'>
	{{if .IsHome}}
		<meta name="keywords" content='{{ .Site.Params.metakeys }}'>
	{{else}}
		{{if eq .Section "post"}}
		<meta name="keywords" content='{{ range .Params.tags}}{{.}}{{", "}}{{end}}'>
	{{end}}
	<!-- {{range .Params.tags}}{{.}}{{", "}}{{end}} -->
	{{end}}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{ hugo.Generator }}
	<link rel="stylesheet" type="text/css" href='{{ "css/bootstrap.min.css" | absURL }}'>
	<link rel="stylesheet" type="text/css" href='{{ "css/stylesheet.css" | absURL }}'>
	<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}</title>
</head>
