<section class="container text-monospace">
  <div class="container text-center">
    {{if .Site.Params.hero.enabled }}
    <img class="rounded-circle" src='{{ .Site.Params.hero.img | absURL }}' title=">.>    <.<" width="200px"/>
    {{end}}
		<h3 class="mt-3">{{ .Site.Title }}
		<span class='text-secondary'>{{ .Site.Params.about }}</span></h3>
		<br>
    <div class="bg-white" style="text-transform: lowercase!important;">
			<a href="https://gitlab.com/Andrew-Werner/monoblog/-/graphs/master/charts"><span class="badge badge-pill badge-git">Git</span></a>
			<a href="{{ .Site.Params.gitlab }}"><span class="badge badge-pill badge-danger">soundcloud</span></a>
			<a href="{{ .Site.Params.instagram }}"><span class="badge badge-pill badge-success">Insta</span></a>
      <a href="https://drew.haus"><span class="badge badge-pill badge-warning">Portfolio</span></a>

    </div>
  </div>
</section>
