{{define "main"}}
<section class="container mt-3">
        <h2 class="text-center">{{.Title}}</h2>
        {{if eq .Kind "taxonomyTerm"}}
            {{range $key, $value := .Data.Terms.Alphabetical}}
                <span class='badge badge-dark'><a href='{{ "topics/" | absURL }}{{ $value.Name | lower }}' class='text-white' >{{ $value.Name }} ({{.Count }})</a></span>
            {{end}}
        {{else}}
            <div class="row">
                    {{range .Pages}}
                    <div class="col-md-5 m-3">
                        {{if eq .Section "post"}}
                        <small class="text-monospace text-secondary ">{{.PublishDate.Format "January 2, 2006"}} | {{.ReadingTime}} minute read</small>
                        {{end}}
                        <h6><a href="{{.Permalink}}">{{ .Title }}</a></h6>
                    </div>
                    {{end}}
            </div>
        {{end}}
</section>
{{if .Site.Params.search.enabled}}
{{partial "search.html" .}}
{{end}}
{{end}}