{{define "main"}}
{{- partial "hero.html" . -}}
<section id="posts" class="container mt-4">
    {{ if .Site.Params.search.enabled }}
        {{partial "search.html" .}}
    {{end}}
	<div class="card-columns mt-3"> 
    {{ range first 6 (where site.RegularPages "Type" "in" site.Params.mainSections).ByTitle.Reverse.ByPublishDate.Reverse }}
				<a href="{{.Permalink}}"><div class="bg-light card" style="color:initial;"><button id="cardbtn" style="height:100%; width:100%; border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0!important;">
					<div class="card-body">
					  <h5 class="font-weight-bold card-title">{{.Title}}</h5>
					  <h6 class="text-monospace card-subtitle mb-2 text-muted">{{ .PublishDate.Format "January 2, 2006" }}</h6>
					  <small class="card-text text-monospace">{{.ReadingTime}} minute read</small>
					</div>
			  </button></div></a>
			{{end}}
		</div>
</section>
{{end}}
