<div class="spotify-embed">
  <iframe src="https://open.spotify.com/embed/playlist/{{ index .Params 0 }}" class="lazyload" width="100%" height="420" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>
